main {
  padding-top: 32px;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  margin-bottom: 1%;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 14px;
}
.avatar .product-photo {
  display: flex;
  flex-direction: column;
}
.avatar .product-name {
  margin-left: 24px;
}
.muted {
  color: #6c757d;
}

.nav-item button {
  padding: 0 !important;
}
.nav-item button:hover {
  background-color: #fff !important;
}
::ng-deep .mat-list {
  padding: 0 !important;
}

.starrating > label {     
  cursor: pointer;
  margin: 2px 0;
  font-size: 15px;    
  display: inline-block; 
  color: rgba(0, 0, 0, 0.3);
}
.starrating .selected {
  color: rgba(0, 0, 0);
}

.fav-icon {
  margin-right: 4px;
}

@media only screen and (max-width: 575px){
  .main-section {
    width: 93%;
    max-width: 93%;
    padding: 0;
    margin: 0 8px;
    padding-top: 32px;
  }
  .avatar {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .avatar .product-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .starrating > label{
    margin-left: 0;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 576px) {
  // Other Device Widths
  .main-section {
    width: 95%;
    max-width: 95%;
    padding: 0;
    margin: 12px 18px;
    padding-top: 32px;
  }
  .starrating > label{
    margin-left: 0;
  }
}