<main>
    <section *ngIf="selectedProduct">
        <section class="avatar">
            <article class="product-photo">
                <ngx-avatar src="{{selectedProduct?.imageUrl}}" name="{{selectedProduct?.productName}}" size=250
                    [round]="false" id="ngx-avtr"></ngx-avatar>
            </article>
            <article class="product-name">
                <h3 style="font-weight: 600; margin: 0;">
                    {{ selectedProduct?.productName }}
                </h3>
                <p style="margin: 0;">
                    {{ selectedProduct?.productCode.toLowerCase() }} <br>
                    Release Date:
                    <span class="muted">
                        {{ selectedProduct?.releaseDate }}
                    </span>
                    <br>
                    <span></span>
                    <span *ngIf="!default; else elseBlock">{{ selectedProduct?.price }}</span>
                    <ng-template #elseBlock>
                        <span>${{ selectedProduct?.price }}</span>
                    </ng-template>
                    <br>
                    <span class="starrating" matTooltip="{{selectedProduct?.starRating}} rating">
                        <label *ngFor="let rating of ratings"
                            [ngClass]="{'selected': (rating <= selectedProduct?.starRating)}">
                            <mat-icon>star</mat-icon>
                        </label>
                    </span>
                </p>
            </article>
        </section>
        <section id="nav">
            <mat-divider style="margin-bottom: 0;"></mat-divider>
            <mat-list>
                <mat-list-item class="nav-item">
                    <button mat-button color="primary" (click)="scrollTo(description)">Description</button>
                </mat-list-item>
            </mat-list>
            <mat-divider style="margin-top: 0;"></mat-divider>
        </section>
        <section #description style="padding: 12px;">
            <article>
                <p>{{ selectedProduct?.description }}</p>
            </article>
        </section>
    </section>

    <section *ngIf="!selectedProduct" style="padding: 12px; padding-left: 28px;">
        <article>
            <h3 style="font-weight: 600; margin: 0; color: #6c757d;">
                <fa-icon [icon]="emptyList" class="fav-icon"></fa-icon> 
                No product available!
            </h3>
        </article>
    </section>
    <section style="padding: 12px;">
        <article>
            <button mat-button color="primary" (click)="goBack()">
                <fa-icon [icon]="backArrow" class="fav-icon"></fa-icon> Go Back
            </button>
        </article>
    </section>
</main>
