<div class="main-section">
    <div class="heading"><p>Product List</p></div>
    <div *ngIf="loading==false" class="search-section">
        <!-- Search Input -->
        <mat-form-field class="search-filter" appearance="fill">
            <mat-icon matPrefix>
                <fa-icon [icon]="searchIcon" class="fa-icon"></fa-icon>
            </mat-icon>
            <mat-label>Search product</mat-label>
            <input #searchInput matInput autocomplete="off" (keyup)="searchFilter($event)"
                placeholder="Search by name, price, rating, release date">
        </mat-form-field>
    </div>

    <div class="table-content">
        <mat-card>
            <table *ngIf="loading==false" mat-table [dataSource]="dataSource">
                <!-- Product Column -->
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef class="table-title">Product</th>
                    <td mat-cell *matCellDef="let element" class="td-cell" style="text-align: start;">
                        <div class="cell"><p>{{element.productName }}</p></div>
                    </td>
                </ng-container>

                <!-- Product Code -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef class="table-title" id="desktop">Code</th>
                    <td mat-cell *matCellDef="let element" class="td-cell" id="desktop">
                        <div class="cell"><p>{{element.productCode}}</p></div>
                    </td>
                </ng-container>

                <!-- Product Release Date -->
                <ng-container matColumnDef="release-date">
                    <th mat-header-cell *matHeaderCellDef class="table-title">Release Date</th>
                    <td mat-cell *matCellDef="let element" class="td-cell">
                        <div class="cell"><p>{{ element.releaseDate }}</p></div>
                    </td>
                </ng-container>

                <!-- Product Price -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="table-title">Price</th>
                    <td mat-cell *matCellDef="let element" class="td-cell">
                        <div class="cell"><p>{{ element.price }}</p></div>
                    </td>
                </ng-container>

                <!-- Product rating -->
                <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef class="table-title" id="desktop">Rating</th>
                    <td mat-cell *matCellDef="let element" class="td-cell" id="desktop">
                        <div class="cell"><p>{{ element.starRating }}</p></div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayProduct(row)"></tr>
            </table>
            <div *ngIf="loading==true">
                <div *ngIf="loading==true" class="loader">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <div *ngIf="loading==true" style="text-align: center;font-size: 15px;padding-top: 5px;">
                    <br>
                    Loading ...
                </div>
            </div>
            <div class="table-footer">
                <div class="table-extra"></div>
                <mat-paginator class="paginator" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card>
    </div>
</div>
