.nav-bar {
  height: 100%;
  width: 100%;
  display: flex;
}

.brand-logo {
  cursor: pointer;
  color: rgba(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
}

.nav-space {
  flex-grow: 1;
}
.normal-menu-left {
  margin-top: 2px;
  margin-right: 32px;
  margin-left: 32px;
}
.normal-menu-right {
  margin-top: 2px;
  margin-right: 32px;
}

mat-menu,
mat-list {
  top: 0;
  width: 100%;
//   background-color: rgba(11, 11, 11);
}
.btn-link a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

mat-menu-item,
mat-list-item {
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  border-bottom: none;
  color: rgba(255, 255, 255) !important;

  a,
  a:hover {
    color: rgba(255, 255, 255) !important;
    text-decoration: none;
  }
}
mat-menu-item:hover,
mat-list-item:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}
.social-icon {
  margin-right: 4px;
}

.sub-menu {
  color: rgba(255, 255, 255);
  background-color: #3f51b5;
}
.sub-menu:hover {
  cursor: pointer;
}

.horizontal-list {
  padding: 0;
  mat-list-item {
    cursor: pointer;
    display: inline-block;
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 575px){
  .sub-menu {
    padding-right: 16px;
    margin-right: 12px;
    color: #fff;
  }

  mat-menu-item,
  mat-list-item {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 576px) {
  // Other Device Widths
}
