.layout {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  padding: 12px 16px;
  background-color: #3f51b5;
  color: #fff;
}

.content {
  padding: 0;
  margin-top: 64px;
}

footer {
  height: fit-content;
  padding: 0;
}

@media only screen and (max-width: 575px){
  .navbar {
    padding: 12px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 576px) {
  // Other Device Widths
}
