footer {
  margin: 0 auto;
  width: 100%;
  margin-top: 12px;
  bottom: 0;
}

.copyright {
  text-align: center;
  padding: 8px;
  margin: 8px 0;
  a {
      text-decoration: none;
      color: rgba(0, 0, 0);
  }
}
.dot-circle {
  font-size: 6px;
  padding: 0 12px;
  color: #6c757d;
}

@media only screen and (max-width: 575px){
  .dot-circle {
    font-size: xx-small;
    padding: 0 8px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 576px) {
  // Other Device Widths
}
